In [1]:
1 + 1

2

In [2]:
1  *3

3

In [3]:
1/2

0.5

In [4]:
2**4

16

In [5]:
# mod function

In [6]:
4%2

0

In [7]:
5%2

1

In [8]:
x = 2 
y = 5

In [10]:
x +y

7

In [12]:
number = 15
name = 'Michael'

In [16]:
print(f'My name is {name} and i was born on {number}th of October')
print('My name is {} and i was born on {}th of October'.format(name,number))
print('My name is {one} and i was born on {two}th of October'.format(one=name,two=number))

My name is Michael and i was born on 15th of October
My name is Michael and i was born on 15th of October
My name is Michael and i was born on 15th of October

In [17]:
# List
a = [1,2,3]
print(a)

[1, 2, 3]

In [22]:
a.append(3)

In [23]:
print(a)

[1, 2, 3, '3', 3, 3]

In [25]:
a.remove('3')

In [26]:
print(a)

[1, 2, 3, 3, 3]

In [29]:
a.pop()

3

In [30]:
print(a)

[1, 2, 3, 3]

In [31]:
a[0]

1

In [32]:
a[0] = 2

In [33]:
print(a)

[2, 2, 3, 3]

In [34]:
##Dictionary
d = {'key1':[1,2,3],'key2':'mike'}

In [35]:
print(d)

{'key1': [1, 2, 3], 'key2': 'mike'}

In [37]:
print(d['key1'][0])

1

In [38]:
#Tuples (cannot edit tuples)
my_tuple = (1,2,3)

In [39]:
print(my_tuple[0])

1

In [40]:
##Sets (collection of uinque elemeents)
a = {1,2,3,3,3,4}

In [41]:
print(a)

{1, 2, 3, 4}

In [44]:
'hi' == 'hi'

True

In [45]:
##if elif else 
if 20 >12:
    print('Greater')

Greater

In [46]:
#for loops(in sequence)
val = [1,2,3,4]

for value in val:
    print(value)

1
2
3
4

In [50]:
i = 1

while i < 5:
    print(f'i is:{i}')
    i = i +1 #avoiding infinte loop

i is:1
i is:2
i is:3
i is:4

In [51]:
#range
for val in range(0,5):
    print(val)

0
1
2
3
4

In [55]:
# List comprehension
value = [1,2,3,4]

output = []

for num in value:
    output.append(num**2)
    
print(output)


out = [num**2 for num in value]

print(out)

[1, 4, 9, 16]
[1, 4, 9, 16]

In [56]:
##Function
def my_func(param1):
    print(param1)

In [57]:
my_func('mikey')

mikey

In [61]:
def times2(var):
    return var*2
print(times2(55))


##mapping

seq = [2,2,5,6]

outer= list(map(times2,seq))

print(outer)

110
[4, 4, 10, 12]

In [70]:
##Fliter

outer2 = list(filter(times2,seq))
print(outer2)

[2, 2, 5, 6]

In [72]:
##String Built in func

m = 'My name is  mike'

print(m.lower())
print(m.upper())
print(m.split())

my name is  mike
MY NAME IS  MIKE
['My', 'name', 'is', 'mike']

In [74]:
## Tuple unpacking

x = [(1,2),(3,4),(5,6)]

for (a,b) in x:
    print(a)

1
3
5

In [1]:
def sum_double(a, b):
  if a==b:
    return (a**2 + b**2)
  else:
    return (a+b)

In [2]:
sum_double(3,3)

18